<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jack.mapper.CmsConfigQuotaMapper" >
  <resultMap id="BaseResultMap" type="com.jack.entity.CmsConfigQuota" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="bank_code" property="bankCode" jdbcType="CHAR" />
    <result column="day_count" property="dayCount" jdbcType="INTEGER" />
    <result column="day_amount" property="dayAmount" jdbcType="DECIMAL" />
    <result column="single_amount" property="singleAmount" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, bank_code, day_count, day_amount, single_amount
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.jack.entity.CmsConfigQuotaExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cms_config_quota
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from cms_config_quota
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from cms_config_quota
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.jack.entity.CmsConfigQuotaExample" >
    delete from cms_config_quota
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jack.entity.CmsConfigQuota" >
    insert into cms_config_quota (id, bank_code, day_count, 
      day_amount, single_amount)
    values (#{id,jdbcType=INTEGER}, #{bankCode,jdbcType=CHAR}, #{dayCount,jdbcType=INTEGER}, 
      #{dayAmount,jdbcType=DECIMAL}, #{singleAmount,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.jack.entity.CmsConfigQuota" >
    insert into cms_config_quota
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="bankCode != null" >
        bank_code,
      </if>
      <if test="dayCount != null" >
        day_count,
      </if>
      <if test="dayAmount != null" >
        day_amount,
      </if>
      <if test="singleAmount != null" >
        single_amount,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="bankCode != null" >
        #{bankCode,jdbcType=CHAR},
      </if>
      <if test="dayCount != null" >
        #{dayCount,jdbcType=INTEGER},
      </if>
      <if test="dayAmount != null" >
        #{dayAmount,jdbcType=DECIMAL},
      </if>
      <if test="singleAmount != null" >
        #{singleAmount,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jack.entity.CmsConfigQuotaExample" resultType="java.lang.Integer" >
    select count(*) from cms_config_quota
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update cms_config_quota
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.bankCode != null" >
        bank_code = #{record.bankCode,jdbcType=CHAR},
      </if>
      <if test="record.dayCount != null" >
        day_count = #{record.dayCount,jdbcType=INTEGER},
      </if>
      <if test="record.dayAmount != null" >
        day_amount = #{record.dayAmount,jdbcType=DECIMAL},
      </if>
      <if test="record.singleAmount != null" >
        single_amount = #{record.singleAmount,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update cms_config_quota
    set id = #{record.id,jdbcType=INTEGER},
      bank_code = #{record.bankCode,jdbcType=CHAR},
      day_count = #{record.dayCount,jdbcType=INTEGER},
      day_amount = #{record.dayAmount,jdbcType=DECIMAL},
      single_amount = #{record.singleAmount,jdbcType=DECIMAL}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jack.entity.CmsConfigQuota" >
    update cms_config_quota
    <set >
      <if test="bankCode != null" >
        bank_code = #{bankCode,jdbcType=CHAR},
      </if>
      <if test="dayCount != null" >
        day_count = #{dayCount,jdbcType=INTEGER},
      </if>
      <if test="dayAmount != null" >
        day_amount = #{dayAmount,jdbcType=DECIMAL},
      </if>
      <if test="singleAmount != null" >
        single_amount = #{singleAmount,jdbcType=DECIMAL},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jack.entity.CmsConfigQuota" >
    update cms_config_quota
    set bank_code = #{bankCode,jdbcType=CHAR},
      day_count = #{dayCount,jdbcType=INTEGER},
      day_amount = #{dayAmount,jdbcType=DECIMAL},
      single_amount = #{singleAmount,jdbcType=DECIMAL}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>