<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jack.mapper.CmsWithholdRequestConfirmDetailMapper" >
  <resultMap id="BaseResultMap" type="com.jack.entity.CmsWithholdRequestConfirmDetail" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="request_id" property="requestId" jdbcType="BIGINT" />
    <result column="contract_no" property="contractNo" jdbcType="CHAR" />
    <result column="request_no" property="requestNo" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="capital" property="capital" jdbcType="DECIMAL" />
    <result column="interest" property="interest" jdbcType="DECIMAL" />
    <result column="add_time" property="addTime" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, request_id, contract_no, request_no, user_id, capital, interest, add_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.jack.entity.CmsWithholdRequestConfirmDetailExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cms_withhold_request_confirm_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from cms_withhold_request_confirm_detail
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from cms_withhold_request_confirm_detail
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.jack.entity.CmsWithholdRequestConfirmDetailExample" >
    delete from cms_withhold_request_confirm_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jack.entity.CmsWithholdRequestConfirmDetail" >
    insert into cms_withhold_request_confirm_detail (id, request_id, contract_no, 
      request_no, user_id, capital, 
      interest, add_time)
    values (#{id,jdbcType=BIGINT}, #{requestId,jdbcType=BIGINT}, #{contractNo,jdbcType=CHAR}, 
      #{requestNo,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{capital,jdbcType=DECIMAL}, 
      #{interest,jdbcType=DECIMAL}, #{addTime,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.jack.entity.CmsWithholdRequestConfirmDetail" >
    insert into cms_withhold_request_confirm_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="requestId != null" >
        request_id,
      </if>
      <if test="contractNo != null" >
        contract_no,
      </if>
      <if test="requestNo != null" >
        request_no,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="capital != null" >
        capital,
      </if>
      <if test="interest != null" >
        interest,
      </if>
      <if test="addTime != null" >
        add_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="requestId != null" >
        #{requestId,jdbcType=BIGINT},
      </if>
      <if test="contractNo != null" >
        #{contractNo,jdbcType=CHAR},
      </if>
      <if test="requestNo != null" >
        #{requestNo,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="capital != null" >
        #{capital,jdbcType=DECIMAL},
      </if>
      <if test="interest != null" >
        #{interest,jdbcType=DECIMAL},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jack.entity.CmsWithholdRequestConfirmDetailExample" resultType="java.lang.Integer" >
    select count(*) from cms_withhold_request_confirm_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update cms_withhold_request_confirm_detail
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.requestId != null" >
        request_id = #{record.requestId,jdbcType=BIGINT},
      </if>
      <if test="record.contractNo != null" >
        contract_no = #{record.contractNo,jdbcType=CHAR},
      </if>
      <if test="record.requestNo != null" >
        request_no = #{record.requestNo,jdbcType=BIGINT},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=BIGINT},
      </if>
      <if test="record.capital != null" >
        capital = #{record.capital,jdbcType=DECIMAL},
      </if>
      <if test="record.interest != null" >
        interest = #{record.interest,jdbcType=DECIMAL},
      </if>
      <if test="record.addTime != null" >
        add_time = #{record.addTime,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update cms_withhold_request_confirm_detail
    set id = #{record.id,jdbcType=BIGINT},
      request_id = #{record.requestId,jdbcType=BIGINT},
      contract_no = #{record.contractNo,jdbcType=CHAR},
      request_no = #{record.requestNo,jdbcType=BIGINT},
      user_id = #{record.userId,jdbcType=BIGINT},
      capital = #{record.capital,jdbcType=DECIMAL},
      interest = #{record.interest,jdbcType=DECIMAL},
      add_time = #{record.addTime,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jack.entity.CmsWithholdRequestConfirmDetail" >
    update cms_withhold_request_confirm_detail
    <set >
      <if test="requestId != null" >
        request_id = #{requestId,jdbcType=BIGINT},
      </if>
      <if test="contractNo != null" >
        contract_no = #{contractNo,jdbcType=CHAR},
      </if>
      <if test="requestNo != null" >
        request_no = #{requestNo,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="capital != null" >
        capital = #{capital,jdbcType=DECIMAL},
      </if>
      <if test="interest != null" >
        interest = #{interest,jdbcType=DECIMAL},
      </if>
      <if test="addTime != null" >
        add_time = #{addTime,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jack.entity.CmsWithholdRequestConfirmDetail" >
    update cms_withhold_request_confirm_detail
    set request_id = #{requestId,jdbcType=BIGINT},
      contract_no = #{contractNo,jdbcType=CHAR},
      request_no = #{requestNo,jdbcType=BIGINT},
      user_id = #{userId,jdbcType=BIGINT},
      capital = #{capital,jdbcType=DECIMAL},
      interest = #{interest,jdbcType=DECIMAL},
      add_time = #{addTime,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>