<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jack.mapper.JackMapper">

    <select id="getList" parameterType="map" resultType="com.jack.entity.Jack">
        select * from jack
        <where>
            <if test="name != null and name != ''">
                and name = #{name}
            </if>
            <if test="province != null and province != ''">
                and province = #{province}
            </if>
            <if test="company != null and company != ''">
                and company = #{company}
            </if>
                and status = 1
        </where>
    </select>

    <update id="update" parameterType="map">
        update jack
        <set>
            status = 1,
            <if test="province !=null and province == 1">
                province = 123,
            </if>

        </set>
        <where>
            <if test="id !=null">
                id = #{id}
            </if>
            <if test="name !=null">
               and name = #{name}
            </if>
        </where>
    </update>
    <insert id="insert" parameterType="com.jack.entity.Jack">
        insert into jack (name, status, province, company) values (#{name},#{status},#{province},#{company})
    </insert>
</mapper>